.dignity-box {
    color: #8A8A8F;
}

    .dignity-box div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dignity-box img {
        max-width: min-content;
    }

.vr {
    width: 0.5px;
}
