.dropdown.menu-disabled .dropdown-menu {
    display: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    width: 125%;
    padding: 0px;
    color: white;
    overflow: hidden;
    line-height: 46.2px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px #0000001A;
}

    .dropdown-menu li {
        border-bottom: 1px solid #EFEFF4;
    }

    .dropdown-menu .dropdown-item {
        color: var(--primary-bg-color);
        font-size: 14px;
    }

.catalog-menu {
    position: relative;
    width: inherit !important;
    box-shadow: 0px 2px 4px 0px #00000033;
    border-radius: 4px;
    color: #666666;
    border-radius: 4px;
}

    .catalog-menu .dropdown-item {
        color: inherit;
    }
