/*ul.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 48px;
    gap: 30px;
    padding: 0;
}

.menu > li:first-child {
    left: 0;
    width: min-content;
}

.menu > li {
    right: 0;
    width: 100%;
}
*/

.catalog-header {
    color: #C8C7CC !important;
}

.catalog-link {
    color: #8A8A8F;
}

.bg-grey {
    background-color: #F9F9F9;
}

.link-primary {
    color: var(--primary-bg-color);
}

.primary {
    border: none;
    background-color: var(--primary-bg-color);
    color: white;
}

    .primary:hover {
        background-color: var(--primary-bg-color-hovered);
        color: white;
    }

.secondary {
    color: #666666;
}

    .secondary:hover {
        color: var(--primary-bg-color);
    }

        .secondary:hover img {
            filter: brightness(0) saturate(100%) invert(64%) sepia(29%) saturate(7500%) hue-rotate(181deg) brightness(96%) contrast(94%);
        }

input.search-bar {
    border: 0;
    background: #F9F9F9 url('../icons/magnifier.svg') no-repeat scroll 10px 15px;
    padding-left: 40px;
}

.search-bar::placeholder {
    color: #C8C7CC;
}


.payment-types-container img {
    height: 45%;
    width: 35%;
}

.carousel-item-content {
    font-size: 18px;
    line-height: 27px;
    align-items: start;
}

.carousel-title {
    font-size: 36px;
    line-height: 46.8px;
}
