.nav-primary {
    background-color: var(--primary-bg-color);
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

li.nav-item .nav-link {
    color: white;
}

    li.nav-item .nav-link:hover {
        color: white;
    }

li.nav-item:hover {
    background-color: #45a7f0;
}

.news-catalog .news-item {
    color: black;
    text-decoration: none;
    display: block;
}

    .news-catalog .news-item p {
        font-size: 12px;
        color: #666666;
    }

#news-expander {
    font-size: 12px;
    color: #666666;
}
