.rating {
}

    .rating .star {
        width: 12px;
        height: 12px;
        filter: invert(100%) sepia(0%) saturate(7204%) hue-rotate(32deg) brightness(113%) contrast(71%);
    }

.star.toogled {
    filter: invert(72%) sepia(64%) saturate(596%) hue-rotate(347deg) brightness(101%) contrast(101%);
}

.rating-container {
    width: 264px;
}

    .rating-container small {
        font-size: 12px;
    }

        .rating-container small.stock {
            color: #1EC17B;
        }

        .rating-container small.out {
            color: #FF3B30;
        }
