:root {
    --primary-bg-color: #2D9CEE;
    --primary-bg-color-hovered: #45a7f0;
    --secondary-color: #EFEFF4;
    --primary-filter: brightness(0) saturate(100%) invert(64%) sepia(29%) saturate(7500%) hue-rotate(181deg) brightness(96%) contrast(94%);
}

* {
    font-family: 'Rubik';
    line-height: 22.4px;
}

@media (min-width: 768px) {
    html {
        line-height: 1.5;
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

html, body {
    overflow-x: hidden;
}
