<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdvantsShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdvantsShop.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="toolbar-top">
            <div class="container container-fluid">
                <aside class="row middle-xs flex-nowrap">
                    <div class="toolbar-top-item__left-part">
                        <div class="flex middle-xs relative flex-nowrap">
                            <div class="toolbar-top-item toolbar-top__zone-name" data-popover-control="" data-popover-id="zonePopover" data-popover-trigger="null" data-popover-trigger-hide="null">
                                <span data-ng-transclude="" data-ng-null="popoverControl.toggle()">
                                    <span class="cs-t-3 zone-name">Ваш город:</span>
                                    <a class="link-dotted-invert zone-dialog-trigger-link" href="" role="link" aria-label="Ваш город" data-zone-dialog-trigger="">
                                        <span data-zone-current="" data-ng-bind="zone.City" data-start-val="{City: 'Москва'}">Москва</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="toolbar-top-item toolbar-top-item__right-part">
                        <a class="cs-l-3 toolbar-top-link-alt" href="https://modern.advant.design/login">Войти</a>
                        <a class="cs-l-3 toolbar-top-link-alt" href="https://modern.advant.design/registration">Регистрация</a>
                    </div>
                </aside>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AdvantsShop.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
