@{
    ViewData["Title"] = "Корзина";
}

<h1>@ViewData["Title"]</h1>

<div class="secondary-color py-2 ps-2">
    <div class="cart-container">

        <div class="container d-flex justify-content-between">
            <p>Товар</p>

            <div class="gap-5 d-flex justify-content-between">
                <p>Количество</p>
                <p>Цена за ед. руб.</p>
                <p>Стоимость руб.</p>

                <a class="trash-can" data-bs-toggle="modal" data-bs-target="#deleteCartItemsModal">
                    <img src="~/icons/trash.svg" />
                </a>
            </div>
        </div>

        <div class="border-bottom"></div>

        <div id="cart" class="container cart-container mt-4">

            <div class="cart-item">
                <div class="cart-item-content">
                    <div class="d-flex col-4 pe-3 gap-3">
                        <img src="/images/new goods/imac.png" />
                        <p class="m-0 cart-item-name">
                            Apple iMac 21,5″ 6 Core i5 3 ГГц, 8 ГБ, 1 ТБ FD, RPro 560X
                        </p>
                    </div>

                    <div class="ms-auto d-flex gap-5 cart-item-price-info">

                        <div class="increment">
                            <input id="product-increment-1" class="cart-item-counter border rounded" type="number" min="0" value="1" onchange="counterValueChanged(this)" />

                            <div class="position-relative">
                                <div class="position-absolute increment-spinner-container">
                                    <div class="d-flex flex-column text-center">
                                        <button onclick="counterUp(this)" target="product-increment-1" class="next d-flex">
                                            <img src="~/icons/arrow-inc.svg" />
                                        </button>
                                        <button onclick="counterDown(this)" target="product-increment-1" class="prev d-flex">
                                            <img src="~/icons/arrow-dec.svg" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="col" id="unit-price" data-cost="426000">426 000</p>

                        <p class="col" id="total-price" data-total-cost="426000">426 000</p>

                        <a class="trash-can" onclick="selectCartItemToDelete(this)" data-bs-toggle="modal" data-bs-target="#deleteCartItemModal">
                            <img src="~/icons/trash.svg" />
                        </a>
                    </div>
                </div>

            </div>

            <div class="cart-item">
                <div class="cart-item-content">
                    <div class="d-flex col-4 pe-3 gap-3">
                        <img src="~/images/new goods/xiaomi.png" />
                        <p class="m-0 cart-item-name">
                            Apple iPhone SE 256 ГБ, черный
                        </p>
                    </div>

                    <div class="ms-auto d-flex gap-5 cart-item-price-info">

                        <div class="increment">
                            <input id="product-increment-2" class="cart-item-counter border rounded" type="number" min="0" value="23" onchange="counterValueChanged(this)" />

                            <div class="position-relative">
                                <div class="position-absolute increment-spinner-container">
                                    <div class="d-flex flex-column text-center">
                                        <button onclick="counterUp(this)" target="product-increment-2" class="next d-flex">
                                            <img src="~/icons/arrow-inc.svg" />
                                        </button>
                                        <button onclick="counterDown(this)" target="product-increment-2" class="prev d-flex">
                                            <img src="~/icons/arrow-dec.svg" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="col" id="unit-price" data-cost="53990">53 990</p>

                        <p class="col" id="total-price" data-total-cost="134000">134 000</p>

                        <a class="trash-can" onclick="selectCartItemToDelete(this)" data-bs-toggle="modal" data-bs-target="#deleteCartItemModal">
                            <img src="~/icons/trash.svg" />
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="bg-grey d-flex justify-content-between container align-items-center py-4">

            <p class="secondary-color m-0">Итого:</p>

            <p class="m-0 pe-5 text-black fs-4">
                Итого:
                <span id="final-price" data-final-cost="104500">104 500</span>
            </p>

        </div>

        <form class="my-5">
            <div class="d-flex">
                <div class="d-flex flex-column col-2 form-label-container">
                    <div class="d-flex text-center">
                        <p class="col-form-label text-black">Наименование товара</p>
                    </div>
                    <div class="d-flex text-center">
                        <p class="col-form-label text-black">Кол-во</p>
                    </div>
                    <div class="d-flex text-center">
                        <p class="col-form-label text-black">Цена за ед</p>
                    </div>
                </div>

                <div class="col-4">
                    <div class="d-flex flex-column form-input-container">
                        <input type="text" id="inputProductName" class="form-control">
                        <input type="text" id="inputProductAmount" class="form-control">
                        <input type="text" id="inputProductPrice" class="form-control">
                    </div>

                    <button class="btn btn-primary primary align-self-start py-3 px-5 mt-3">Добавить товар</button>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="modal fade" id="deleteCartItemModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить этот товар из корзины?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" onclick="deleteCartItem()" data-bs-dismiss="modal">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCartItemsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить все товары из корзины?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" onclick="deleteCartItems()" data-bs-dismiss="modal">Удалить</button>
            </div>
        </div>
    </div>
</div>