@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-evenly mt-3">

    <div class="d-flex gap-5 secondary col-md ms-2 align-items-center">
        <div class="d-flex gap-2">
            <img class="translate-middle w-25 align-self-center" src="~/icons/cursor.svg" />
            <p>Москва</p>
        </div>

        <div class="d-flex gap-2">
            <p>8 800 550 83 13</p>
            <p style="font-size:12px;">Заказать звонок</p>
        </div>
    </div>

    <div class="col-md-1">
        <a class="text-end">Вход и регистрация</a>
    </div>

</div>

<nav class="navbar navbar-expand-lg nav-primary">
    <div class="container-fluid d-flex">
        <div class="flex-fill text-center">
            <ul class="navbar-nav">
                <li class="nav-item dropdown flex-fill">
                    <a class="nav-link text-center" href="#" role="button" data-bs-toggle="dropdown">
                        О магазине
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Возможности</a></li>
                        <li><a class="dropdown-item" href="#">Цены</a></li>
                        <li><a class="dropdown-item" href="#">Партнеры</a></li>
                        <li><a class="dropdown-item" href="#">Шаблоны</a></li>
                        <li><a class="dropdown-item" href="#">Модули</a></li>
                        <li><a class="dropdown-item" href="#">Услуги</a></li>
                        <li><a class="dropdown-item" href="#">Интеграции</a></li>
                    </ul>
                </li>
                <li class="nav-item flex-fill ">
                    <a class="nav-link" href="#">Скидки</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Доставка и оплата</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Услуги</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Акции</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Блог</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <a>
        <!--icon-->

    </a>


    <div>
    </div>





</div>
