@{
    ViewData["Title"] = "Home Page";
}

<img scr="arrow-down.svg" />

<div class="navbar-horizontal">

    <div class="dropdown">
        <button class="dropbtn">
            Каталог товаров
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">О магазине</a>
            <a href="#">Оплата</a>
            <a href="#">Доставка</a>
            <a href="#">Контакты</a>
        </div>
    </div>

    <div>
        <a href="#">
            <div>Скидки</div>
        </a>
    </div>
    <div>
        <a href="#">
            <div>
                Доставка и оплата
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div>
                Услуги
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div>
                Блог
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div>
                Контакты
            </div>
        </a>
    </div>
</div>

